<!DOCTYPE html>
<html>
<head>


<link rel="stylesheet" href="..\static\styles\login.css">

<style>
html {
	 background-color: white;
 
}<!DOCTYPE html>
<html>
<head>


<link rel="stylesheet" href="..\static\styles\login.css">

<style>
html {
	 background-color: white;
 
}
body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 24px;
  color: #f1f1f1;
  display: block;
}

.sidenav a:hover {
  color:#818181	 ;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

h3 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  margin: 40px 8px 10px 8px; 
  color: black;
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
</head>
<body>
<div id="formHeader" style="margin:0;">
    <hr color="#56baed">
    <div class='button' id='next'><a href='welcome.html'>Next Page</a></div>
</div>
  <div class="sidenav">
  <img src="http://stopthebleed.in/stopthebleed.png" id="icon" alt="Stop-The-Bleed" style="max-height: 55%; max-width: 55%;" />
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="welcome.html">Home</a>
<br>  <a href="overview.html">Overview</a>
<br>  <a href="Applications.html">Applications</a>
<br>  <a href="methods.html">Methods</a>
<br>  <a href="nearby.html">Find Nearby</a>
<br>  <a href="discussions.html">Discussion</a>
<br>  <a href="quiz.html">Take a quiz- Become Verified</a>
</div>

<div class="main">

 <br><br><hr color="#56baed">
 
 <h1>Intro</h1>
 <p>consist of a a sum-up or some basic info about the current page</p>
 <hr color="#56baed"> 
 <h1>So, What this all fuss is about</h1>
	
    <h2>we are going to have a quick overview:</h2>
         			<p>1.HEMORRHAGE refers to
								"Release of blood from a ruptured blood vessel"</p>
	
	
				<p>2.PULMONARY HEMORRHAGE refers to
								"Acute bleeding from the Lung"</p>
  
	
			        <p>3.Retroperitoneal Bleeding refers to
								"Abdominal Cavity Bleeding with anticoagulation"</p>

				
				<p>4.Postpartum hemorrhage refers to
							        "Heavy Bleeding after the birth of Baby"</p>
	
	
				<p>5.Internal bleeding causes symptoms such as
								"vomiting, stiff neck, balance issues, double vision"
								"Blood in the stool,Rectal bleeding</p>


				<p>6.If the injury occurs in the area of the back or flank, where the kidney is located
								"Retroperitoneal Bleeding Occurs",</p>


				<p>7.First Aid for Severe Bleeding includes
								"Apply continuous firm,direct pressure to wound,using clean cloth or bandage until bleeding stops"
								"Get medical help to cleanse and close the wound"</p>


				<p>8.First Aid for Minor Bleeding includes
								"Clean the wound with soap and clean running tap water"
								"Once the bleeding stops, apply antibiotic ointment"</p>


				<p>9.First Aid for Nose Bleeding includes
								"Sit the person upright and ask them to tilt their head forward"
								"Using the thumb and forefinger, squeeze their nostrils shut"</p>


				<p>10.First Aid for Internal Bleeding includes"
								"Check that the person is conscious and make him/her lie down"
								"Cover them with a blanket tokeep them warm and raise the victim’s legs above the level of their heart"</p>


				<p>11.First Aid for External Bleeding includes"
								"Apply Pressure to the wound and check circulation below wound"
								"Raise and support the injured part"</p>


				<p>12.First Aid for Brain Hemorrhage during accidents includes
								"keep the injured person lying down and quiet, with the head and shoulders slightly elevated"
								"Apply firm pressure to the wound with clean cloth to stop bleeding"</p>
		



<div id="formFooter" style="bottom:0; position:absolute; width:100%;">
 		<hr color="#56baed">
		<div class='button' id='next'><a href='welcome.html'>Next Page</a></div>
</div>
		
	

</body>
</html> 

body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 24px;
  color: #f1f1f1;
  display: block;
}

.sidenav a:hover {
  color:#818181	 ;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

h3 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  margin: 40px 8px 10px 8px; 
  color: black;
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
</head>
<body>
<div id="formHeader" style="margin:0;">
    <hr color="#56baed">
    <div class='button' id='next'><a href='welcome.html'>Next Page</a></div>
</div>
  <div class="sidenav">
  <img src="http://stopthebleed.in/stopthebleed.png" id="icon" alt="Stop-The-Bleed" style="max-height: 55%; max-width: 55%;" />
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="welcome.html">Home</a>
<br>  <a href="overview.html">Overview</a>
<br>  <a href="Applications.html">Applications</a>
<br>  <a href="methods.html">Methods</a>
<br>  <a href="nearby.html">Find Nearby</a>
<br>  <a href="discussions.html">Discussion</a>
<br>  <a href="quiz.html">Take a quiz- Become Verified</a>
</div>

<div class="main">

 <br><br><hr color="#56baed">
 <h1>Tutorial head</h1>
 <p>Click on the element below to open the side navigation menu, and push this content to the right. Notice that we add a black see-through background-color to body when the sidenav is opened.</p>

 <hr color="#56baed"> 
 <h1>So, What this all fuss is about</h1>
	
    <h2>we are going to have a quick overview:</h2>
         			<p>1.HEMORRHAGE refers to
								"Release of blood from a ruptured blood vessel"</p>
	
	
				<p>2.PULMONARY HEMORRHAGE refers to
								"Acute bleeding from the Lung"</p>
  
	
			        <p>3.Retroperitoneal Bleeding refers to
								"Abdominal Cavity Bleeding with anticoagulation"</p>

				
				<p>4.Postpartum hemorrhage refers to
							        "Heavy Bleeding after the birth of Baby"</p>
	
	
				<p>5.Internal bleeding causes symptoms such as
								"vomiting, stiff neck, balance issues, double vision"
								"Blood in the stool,Rectal bleeding</p>


				<p>6.If the injury occurs in the area of the back or flank, where the kidney is located
								"Retroperitoneal Bleeding Occurs",</p>


				<p>7.First Aid for Severe Bleeding includes
								"Apply continuous firm,direct pressure to wound,using clean cloth or bandage until bleeding stops"
								"Get medical help to cleanse and close the wound"</p>


				<p>8.First Aid for Minor Bleeding includes
								"Clean the wound with soap and clean running tap water"
								"Once the bleeding stops, apply antibiotic ointment"</p>


				<p>9.First Aid for Nose Bleeding includes
								"Sit the person upright and ask them to tilt their head forward"
								"Using the thumb and forefinger, squeeze their nostrils shut"</p>


				<p>10.First Aid for Internal Bleeding includes"
								"Check that the person is conscious and make him/her lie down"
								"Cover them with a blanket tokeep them warm and raise the victim’s legs above the level of their heart"</p>


				<p>11.First Aid for External Bleeding includes"
								"Apply Pressure to the wound and check circulation below wound"
								"Raise and support the injured part"</p>


				<p>12.First Aid for Brain Hemorrhage during accidents includes
								"keep the injured person lying down and quiet, with the head and shoulders slightly elevated"
								"Apply firm pressure to the wound with clean cloth to stop bleeding"</p>
		



<div id="formFooter" style="bottom:0; position:absolute; width:100%;">
 		<hr color="#56baed">
		<div class='button' id='next'><a href='welcome.html'>Next Page</a></div>
</div>
		
	

</body>
</html> 
